<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <!-- Link to Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Create a List</title>
    <style>
        .formTitle{
            text-align: center;
        }
        .form{
            margin-left: 50px;
        }

    </style>

</head>
<body>
    <!-- Nav Bar! -->
    <nav>
        <div class="nav-wrapper">
            <a class="link" href="/" class="brand-logo"><i class="material-icons left">book</i>ListMaker</a>
            <ul class="right">
                <li><a class="link" href="/"><i class="material-icons left">home</i>Home</a></li>
                <li><a class="link" href="/list"><i class="material-icons left">list</i>My List</a></li>
            </ul>
        </div>
    </nav>

    <div class="form">
        <div class="formTitle"><h3>Make your own list!</h3></div>
        <form>
            <div class="row">
                <div class="col s2">
                    <label for="listTitle">Name of list:</label>
                </div>
                <div class="col s6">
                    <input type="text" id="listTitle" name="title" class="validate" data-length="45" required>
                </div>
            
            </div>
            <div class="row">
                <div class="col s2">
                    <label for="listDescription">Description:</label>
                </div>
                <div class="col s6">
                    <input type="text" id="listDescription" name="description" class="validate" min=0 max=50>
                </div>
            </div>
    
            <button class="btn-small" type="submit">
                <i class="material-icons right">send</i>
                Submit
            </button>
        </form>
        </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/scripts/materializeAutoInit.js"></script>
</body>
</html>