<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <!-- Nav Bar! -->
    <nav>
        <div class="nav-wrapper">
            <a class="link" href="/" class="brand-logo"><i class="material-icons left">school</i>ListMaker</a>
            <ul class="right">
                <li><a class="link" href="/"><i class="material-icons left">home</i>Home</a></li>
                <li><a class="link" href="/list"><i class="material-icons left">list</i>My List</a></li>
            </ul>
        </div>
    </nav>

    <!-- Page content -->
    <div class="container center-align">
        <h1>Welcome to ListMaker!</h1>
        <img
            src="images/books.jpeg"
            alt="Book Picture"
            width="300px"
        />
        <h4>Let's create your list!</h4>
        <ul>
            <li>• Books</li>
            <li>• Movies</li>
            <li>• Songs</li>
        </ul>
        <a class="btn" href="/create">Get Started!</a>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/scripts/materializeAutoInit.js"></script>
</body>
</html>
