<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListMaker</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>

    <!-- Nav bar: Reference: https://materializecss.com/navbar.html -->
    <!-- It is the same navbar as index.html (I just copy pasted it :D) -->
    <nav>
        <div class="nav-wrapper">
            <a class="link" href="/" class="brand-logo"><i class="material-icons left">school</i>ListMaker</a>
            <ul class="right">
                <li><a class="link" href="/"><i class="material-icons left">home</i>Home</a></li>
                <li><a class="link" href="/list"><i class="material-icons left">list</i>My List</a></li>
            </ul>
        </div>
    </nav>



    <!-- Actual page content! -->
    <div class="container">
        <div class="section" id="list">
            <h1>Your List:</h1>
            <table>
                <thead>
                    <tr>
                        <th>★ Title</th>
                        <th>★ Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Howl's Moving Castle</td>
                        <td>Movie</td>
                        <td>
                            <a class="btn-small" href="list/details"><i class="material-icons right">edit</i>Edit</a>
                            <a class="btn-small red"><i class="material-icons right">delete</i>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- More on forms with text input.: https://materializecss.com/text-inputs.html -->
        <!-- <div class="section" id="add">
            <h2>Add an assignment:</h2>
            <form id="addForm">
                <div class="row">
                    <div class="input-field col s8">
                        <input type="text" id="titleInput" name="title" class="validate" data-length="45" required>
                        <label for="titleInput">Assignment title:</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="number" id="priorityInput" name="priority" class="validate" min="1" max="10" value="5">
                        <label for="priorityInput">Priority (1-10): </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select type="number" name="subject" id="subjectInput">
                            <option value="1">Comp Sci</option>
                            <option value="2">Math</option>
                            <option value="3">Language</option>
                            <option value="4">History</option>
                        </select>
                        <label for="subjectInput">Subject: </label>
                    </div>
                    <div class="input-field col s6">
                        <input type="date" id="dueDateInput" name="dueDate">
                        <label for="dueDateInput">Due Date: </label>
                    </div>
                </div>
                <button class="btn" type="submit">
                    <i class="material-icons left">send</i>
                    Submit
                </button>
            </form>
        </div>
    </div> -->

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Auto-initialize Materialize elements (Note - more specific initialization may be required for certain elements)-->
    <script src="/scripts/materializeAutoInit.js"></script>

</body>

</html>