body {
    background-color: rgb(232, 252, 225);
}
* {
    font-family: 'Inconsolata', monospace;
}
nav {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}
.link {
    color: black;
}

li {
    font-style: italic;
    list-style-type: circle;
}

.listimage {
    border-radius: 30px;
    margin: 30px;
}

.listsection {
    display: flex;
}

.column {
    flex-direction: column;
}

.btn-small {
    background-color: rgb(122, 182, 212);
    border-radius: 30px;
    box-shadow: none;
}
.btn-small:hover{
    background-color: rgb(76, 140, 172);
}
.btn-small .red {
    background-color: rgb(196, 121, 121);
}

.start {
    background-color: rgb(249, 249, 249);
    border-radius: 30px;
    padding: 10px;
    margin: 30px;
}