body {
    background-color: rgb(232, 252, 225);
}
* {
    font-family: 'Inconsolata', monospace;
}
nav {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}
.link {
    color: black;
}

li {
    font-size: x-large;
    font-style: italic;
    list-style-type: circle;
}

.listimage {
    border-radius: 30px;
    margin: 30px;
}

.listsection {
    display: flex;
}

.column {
    flex-direction: column;
}